@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url("./Fonts/Google Material Font.woff2") format('woff2');
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    background-color: black;
    color: aliceblue;

    width: 100%;
    margin: auto;
    scroll-behavior: smooth;

    position: absolute;

    user-select: none;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 350;
}

h3 {
    font-weight: 200;
}

header {
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
}

main>.hidden {
    display: none;
}

.material-symbols-rounded {
    user-select: none;
    cursor: pointer;

    width: fit-content;
    height: fit-content;

    transform: scale(1);

    font-size: 3rem;

    align-self: center;

    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 100;

    transition: font-variation-settings 200ms ease-in-out, transform 200ms ease-in-out;
}

button {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    margin: 0;
    padding: 0;

    background: none;
    color: aliceblue;

    -webkit-transition: .2s;
    transition: transform .2s;

    box-shadow: var(--shadow-elevation-medium);
    overflow: hidden;
    border: none;
    border-radius: 1rem;

    cursor: pointer;
}

button:hover {
    transform: scale(120%);
}

button:active {
    transform: scale(80%);
}

/* button:focus {
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 200;
} */

.clicked-button {
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 200;
}

.nav-section {}

nav {
    display: grid;
    width: 4rem;

    align-content: start;
    justify-items: center;

    background-color: rgb(27, 27, 27);
    padding: 0.5rem;

    border-radius: 1rem;

    margin-left: 0.5rem;

    gap: 2rem;

    grid-template-columns: 1fr;
}

.music-player {
    z-index: 5;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    position: fixed;
    bottom: 0;
    padding: 1rem;
    height: 7rem;
    width: 100%;

    background-color: rgb(27, 27, 27);
}

.music-player-song-container {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.music-player-song,
.music-player-artists {
    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; */
    word-break: keep-all;
    width: max-content;
}

.music-info {
    display: grid;
    width: fit-content;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.music-info .music-player-image {
    border-radius: 1rem;

    height: 7rem;
}

.music-details {
    grid-column: 2 span;
    display: grid;
    gap: 0;
    height: 70%;
    align-items: center;
}

.control-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.play-pause-button {
    margin-right: 1rem;
    justify-self: end;
    align-self: center;
}

.skip-next {
    padding-left: 1rem;
    justify-self: start;
    align-self: center;
}

.loading {
    user-select: none;

    animation-duration: 1000ms;
    animation-name: loopingRotation;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes loopingRotation {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(180deg)
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.timeline {
    grid-column: 2 span;
    justify-self: center;
    align-self: center;
    display: flex;
    gap: 0.25rem
}

.timeline-slider {
    flex: 1000;
}

.timeline h2 {
    flex: 1;
}

.more-options {
    display: grid;
    grid-template-columns: 25% 75%;
}

.queue {
    justify-self: center;
    align-self: center;

}

.volume-control {
    justify-self: center;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    width: 70%;
    height: 100%;
}

.volume-button {}

.volume-slider {}

.main-page {
    display: flex;

    width: 100%;

    gap: 0.5rem;
}

main {
    display: flex;

    align-items: start;
    justify-content: start;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: 65dvh;
    margin-right: 1rem;
    padding: 2rem;

    min-height: 1rem;

    background-color: rgb(27, 27, 27);

    border-radius: 1rem;
}

.recommended-section::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


.recommended-section::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 1rem;
}

.recommended-section::-webkit-scrollbar-thumb:hover {
    background: #888;
}

main h2 {
    text-align: center;
}

.home-content {
    width: 100%;
}


.recommended-section {
    padding: 1rem 2rem;
    width: 95%;

    overflow-x: auto;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2rem;
}

.recommended-card {
    width: 10rem;
    height: 14rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;

    transition: transform 200ms ease-in-out;
}

.recommended-card:hover {
    transform: scale(1.05);
}

.recommended-card:active {
    transform: scale(0.95);
}

.recommended-card img {
    width: 100%;
    border-radius: 1rem;
}

.recommended-card h2 {
    font-size: 10pt;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recommended-card h3 {
    font-size: 8pt;
    text-align: center;
}

.album-content {
    width: 100%;
    display: grid;
    gap: 1rem;
}

.album-header {
    display: flex;
    gap: 2rem;
}

.album-cover {
    display: grid;
    justify-items: center;
}

.album-cover img {
    width: 300px;
    border-radius: 1rem;
}

.album-meta {
    align-self: flex-end;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.album-header .album-title {
    font-size: 30pt;
    grid-column: 3 span;

    height: max-content;

    margin: 1rem 0;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: end;
}

.album-header h2 {
    margin: 0;
    height: 100%;
}

.album-songs {}

.song-img {
    height: 100px;
}

.album-song {
    width: 100%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);

    display: grid;
    align-content: center;
    align-items: center;

    grid-template-columns: repeat(3, 1fr);
    height: min-content;

    cursor: pointer;
}

.album-song:hover {
    transform: scale(102%);
}

.album-song:active {
    transform: scale(98%);
}

.hide {
    display: none;
}

.album-song .song-index {
    margin-left: 1rem;
}

.album-song .song-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-song .song-artists {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-song .song-duration {}


.slider {
    display: grid;
    align-self: center;

    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    background: #717171;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    box-shadow: var(--shadow-elevation-medium);
    border-radius: 1rem;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: aliceblue;
    cursor: grab;

    box-shadow: var(--shadow-elevation-medium-box);
    border-radius: 1rem;
}

.slider::-webkit-slider-thumb:active {
    cursor: grabbing;
}

.full-screen-player-mobile {
    display: none;
}

.search-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content min-content min-content;

    gap: 2rem;

    align-items: center;

    overflow-y: scroll;
    overflow-x: hidden;
}

.search-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


.search-content::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 1rem;
}

.search-content::-webkit-scrollbar-thumb:hover {
    background: #888;
}


.search-content h1 {
    text-align: center;
}

.search-box {
    justify-self: center;
    height: 20%;
    width: 60%;
    padding: 2rem;
    border: none;
    background-color: black;
    color: aliceblue;
    border-radius: 1rem;
    font-size: 12pt;
}

.search-result {
    display: grid;
    gap: 0.5rem;
}

@media only screen and (max-width: 425px) {
    body {
        height: 100%;
        position: fixed;
    }

    h1 {
        text-align: center;
    }

    .main-page {
        flex-direction: column-reverse;
    }

    .nav-section {
        position: fixed;
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem;

        width: 90%;

        bottom: 14%;

        left: 50%;
        transform: translate(-50%, 50%);
        margin: 0;
    }

    nav {

        display: grid;
        align-self: center;
        width: 95%;

        margin-left: 0rem;

        gap: 0rem;

        grid-template-columns: 1fr 1fr 1fr;
    }

    .control-section {
        grid-template-columns: 20% 20% 60%;
        padding: 0 2rem;
    }

    .play-pause-button {
        justify-self: center;
        align-self: center;
        margin: 0;
    }

    .skip-next {
        justify-self: center;
        align-self: center;
        padding: 0;
    }

    .timeline {
        grid-column: 1 span;
    }

    .more-options,
    .music-info {
        display: none;
    }

    .music-player {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto max-content auto;

        align-self: center;

        border-radius: 1rem;

        position: static;

        height: 4rem;
        width: 100%;

        padding: 0rem;
        width: 100%;

        background-color: rgb(27, 27, 27);
    }

    main {
        position: absolute;

        margin: 0;
        padding: 0;

        width: 90%;
        height: 60%;
        top: 15%;

        transform-origin: center;

        justify-self: center;
        align-self: center;

        overflow: auto;

        scroll-behavior: smooth;
    }

    .album-cover img {
        width: 200px;
    }

    .album-content {
        position: relative;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .album-header {
        display: grid;
        gap: 0;
    }

    .album-meta {
        align-self: flex-end;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .album-header .album-title {
        text-align: center;
        font-size: 22pt;
    }

    h2 {
        font-size: 12pt;
    }

    .recommended-section {
        /* padding: 1rem; */
        top: 0;
        left: 0;
        width: 95%;
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0rem;
        row-gap: 1rem;

        padding: 0.5rem;

        justify-items: center;
    }

    .recommended-card {
        width: 7rem;
        height: 7rem;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 2rem;
        padding: 1rem;
    }

    .recommended-card h2,
    .recommended-card h3 {
        display: none;
    }

    .album-song {
        width: 100%;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.2);

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: min-content;
    }

    .hide {
        display: none;
    }

    .full-screen-player-mobile {
        display: block;
        position: absolute;
        padding: 1rem;
        bottom: -99%;
        right: 0;
        left: 0;
        height: 100%;
        border-radius: 2rem 2rem 0 0;
        background-color: rgb(30, 30, 30);

        transition: transform 200ms ease-in-out;
    }

    .show-full-screen-player-mobile {
        transform: translateY(-90%);
    }

    .show-full-screen {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .full-screen-player-mobile .music-info {
        margin: 2rem 0 0 0;
        display: grid;
        align-items: center;
        justify-items: center;
        width: 100%;

        grid-template-columns: 1fr;
    }

    .full-screen-player-mobile .music-info .music-player-image {
        height: 18rem;
    }

    .full-screen-player-mobile .music-info .music-details {
        width: 100%;
        text-align: center;
        overflow: hidden;
    }

    .full-screen-player-mobile .music-info .music-details {
        grid-column: 2 span;
        display: grid;
        gap: 1rem;
        height: min-content;
        align-items: center;
        justify-content: center;
    }

    .full-screen-player-mobile .music-player-song-container,
    .full-screen-player-mobile .music-player-artists-container {
        justify-self: center;
        /* overflow: visible; */
    }

    .full-screen-player-mobile .music-info .music-details h2 {
        margin: 0;
        font-size: 18pt;
    }

    .full-screen-player-mobile .music-info .music-details h3 {
        margin: 0;
        font-size: 16pt;
        transform: translateX(0%);
    }

    .full-screen-player-mobile .control-section {
        margin-top: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .full-screen-player-mobile .play-pause-button {
        font-size: 60pt;
    }

    .full-screen-player-mobile .skip-next {}

    .full-screen-player-mobile .more-options {
        display: grid;
        grid-template-columns: 1fr;
    }

    .full-screen-player-mobile .timeline {
        grid-column: 3 span;
        justify-self: center;
        align-self: center;
        display: flex;
        gap: 0.25rem
    }

    .full-screen-player-mobile .volume-control {
        justify-self: center;
        align-self: center;

        display: flex;
        align-items: center;
        justify-content: center;

        gap: 1rem;

        width: 60%;
        height: 100%;
    }

    [data-search-song-name-artists] {
        grid-column: 2 span;
        margin-right: 1rem;
    }

    [data-search-song-duration] {
        display: none;
    }
}
